.hero-section .hero-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1;
}

@media (width <= 667px) {
    .hero-section .hero-title {
        font-size: 2.25rem;
    }
}